target/
*.class
*.jar
*.war
*.log

.idea/
.vscode/

.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
.terraform.lock.hcl
crash.log

.mvn/wrapper/maven-wrapper.jar